<h1>Sign-in Form</h1>
<div class="custom-control custom-radio">
    <input id="rider" type="radio" class="custom-control-input" value="rider" name="profileType" [(ngModel)]="profileType" required>
<label class="custom-control-label" for="rider">Sign In as Rider</label>
</div>


<div class="custom-control custom-radio">
<input id="driver" type="radio" class="custom-control-input" value="driver" name="profileType" [(ngModel)]="profileType" required>
<label class="custom-control-label" for="driver">Sign In as Driver</label>
</div>

<div *ngIf="profileType==='rider'">
    <h3>Rider Sign-in Form</h3>
    <form [formGroup]="riderSignInForm"  >
        
        <div class="form-group">
            <span> Email</span>
            <mat-form-field  class="full-width">
                <input matInput formControlName="email" class="form-control" />
                <mat-error *ngIf="riderSignInForm.controls['email'].hasError('required')" class="invalid-feedback">
                    Email is required
                </mat-error>
                <mat-error *ngIf="riderSignInForm.controls['email'].hasError('pattern')" class="invalid-feedback">
                    Please enter a Valid email
                </mat-error>
            </mat-form-field>
        </div>
        <div class="form-group">
            <span> Password</span>
            <mat-form-field  class="full-width">
                <input matInput formControlName="password" class="form-control" />
                <mat-error *ngIf="riderSignInForm.controls['password'].hasError('required')" class="invalid-feedback">
                    Password is required
                </mat-error>
    
            </mat-form-field>
        </div>
        
        <div class="form-group">
            <button class="btn btn-primary">Sign-In</button>
        </div>
        
    </form>
</div>

<!-- Driver sign up -->
<div  *ngIf="profileType==='driver'">
    <h3>Driver Sign-in Form</h3>
    <form [formGroup]="driverSignInForm">
        
        <div class="form-group">
            <span> Email</span>
            <mat-form-field  class="full-width">
                <input matInput formControlName="email" class="form-control" />
                <mat-error *ngIf="driverSignInForm.controls['email'].hasError('required')" class="invalid-feedback">
                    Email is required
                </mat-error>
                <mat-error *ngIf="driverSignInForm.controls['email'].hasError('pattern')" class="invalid-feedback">
                    Please enter a Valid email
                </mat-error>
            </mat-form-field>
        </div>
        <div class="form-group">
            <span> Password</span>
            <mat-form-field  class="full-width">
                <input matInput formControlName="password" class="form-control" />
                <mat-error *ngIf="driverSignInForm.controls['password'].hasError('required')" class="invalid-feedback">
                    Password is required
                </mat-error>
    
            </mat-form-field>
        </div>
        <div class="form-group">
            <button class="btn btn-primary">Sign-In</button>
        </div>
        
    </form>
</div>

