.invalid-feedback{
    color: red;
    font-size: 12px;
}

.full-width{
    border: 1px solid ;
    margin: 0 10px;
}

.form-group{
    margin: 1rem;
    
}

form{
    background-color: aquamarine;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    
  }
  
  html {
    font-size: 62.5%;
  }
  