$palette: (

 white:#EEECE8,

 lighterGreen:#A3B7A0,

 lightGreen:#588157,

 green: #3A5A40,

 darkGreen:#36523F,

 darkestGreen:#31493D,

);

.invalid-feedback{
    color: red;
    font-size: 12px;
}

.full-width{
    border: 1px solid ;
    margin: 0 10px;
}

.form-group{
    margin: 1rem;
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    
  }
  
  html {
    font-size: 62.5%;
  }
  