<nav class="navbar navbar-expand-lg navbar-light bg-none">
    <div class="ms-auto">
        <h4 class="me-2">Hi, USERNAME <i class="fa-regular fa-face-smile"></i></h4>
    </div>
</nav>

<div class="container rounded bg-light">
    <div class="row map-row">
        <div class="col-sm-8" id="map"></div>
        <div class="col-sm-4">
            <div class="input-group pt-2">
                <input id="pac-input" type="map-search" class="form-control" placeholder="Destination address" aria-label="Search" aria-describedby="search-addon" />
              </div>
        </div>
    </div>
</div>

<!-- <div class="full" id="map">

</div> -->